
@import url('https://fonts.googleapis.com/css?family=Fredoka&display=swap');

body {
    background-color: #f5eaff;
    font-family: 'Fredoka', sans-serif;
}

.container {
    display: flex;
    margin-left: 210px;
    margin-top: 50px;
}

.image {
    width: 35%;
    height: 100%;
}

img {
    height: 600px;
  width: 100%;
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: #BA68C8;
    font-size: 50px;
}

.form {
    color: rgb(73, 72, 72);
    width: 35%;
    padding: 35px;
    border-left: solid gray 2px;
    margin-left: 70px;
}

h2 {
    font-size: 40px;
    padding-left: 15px;
    margin-top: auto;
    margin-bottom: -15px;
    color:rgb(68, 67, 67);
}

p {
    font-size: 30px;
    padding-left: 15px;
    margin-bottom: 60px;
}

.name {
    display: flex;
}

.fname {
    width: 40%
}

.lname {
    padding-left: 100px;
    width: 40%
}


.name label {
    width: 50%;
}

form input {
    width: 97%;
    height: 43px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: white;
}

#firsteye {
    position: absolute;
    right: 407px;
    background-color: #f5eaff;
    top: 500px;
}

#secondeye {
    position: absolute;
    right: 407px;
    background-color: #f5eaff;
    top: 600px;

}

button{
    background-color: #BA68C8;
    color: white;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    width: 100%;
    border: none;

}
button:hover{
    background-color: rgb(145, 17, 145);
}
section {
    text-align: center;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #BA68C8;
    font-weight: 900;
}

span {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: gray;
}

span:before,
span:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid gray;
    margin: auto;
}

i {

    text-align: center;
    font-size: 40px;
    margin: 7px 15px 0 px;
    background-color: azure;
    padding-top: 2px;
    padding-right: 40px;
}


#apple {
    margin-left: 126px;
    padding-top: 10px;
    background-color: white;
}

#google {
    font-size: 5px;
    margin-left: 80px;
    background-color: white;
}

#facebook {
    margin-left: 128px;
    background-color: white;
}